In [1]:
print("hello world")

hello world

# Description
 blablabla

In [2]:
# The code was removed by Watson Studio for sharing.

   distress_ct  temperature  field_check_pressure  flight_num
0            0           66                    50           1
1            1           70                    50           2
2            0           69                    50           3
3            0           68                    50           4
4            0           67                    50           5